<h2>Angular Dependency Injection</h2>

<div style="margin: 20px">
  <app-parent></app-parent>
  <ul>
    <li>
      try comment/uncomment: providers in child, parent component ts file and
      observe in console
    </li>
  </ul>
</div>
<hr />

<div style="margin: 50px">
  <p>
    Dependency injection in angular is a design pattern and core feature of the
    angular framework that facilitates the management and <br> sharing of the
    components, services and other dependencies across different part of
    application.
  </p>
  <p>singleton design pattern: only one instance is created for one class</p>

  <button (click)="refreshValue()">Refresh value</button>

  <div style="display: flex; margin-top: 10px; gap: 10px">
    <div
      class="container"
      style="width: 200px; height: 200px; border: 1px solid; padding: 10px"
    >
      <app-comp1></app-comp1>
    </div>
    <div
      class="container"
      style="width: 200px; height: 200px; border: 1px solid; padding: 10px"
    >
      <app-comp2></app-comp2>
    </div>
  </div>
</div>

<hr />

<router-outlet></router-outlet>
